.Card {
  width: 320px;
  border: black 1px solid;
  border-radius: 10px;
  height: 198px;
  background-color: #444;
  position: relative;
  margin: 20px;
}

.Card p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: dodgerblue;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: end;
  padding-right: 30px;
}

.focus {
  font-size: large;
}

.unfocus {
  font-size: xx-large;
}

.Card a {
  color: dodgerblue;
  border: 1px solid dodgerblue;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}