.MyHeader {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  background-color: #333;
  color: dodgerblue;
  z-index: 5;
}

.MyHeader a {
  color: dodgerblue;
  text-decoration: none;
}

.MyHeader a div {
  padding: 10px 30px 10px 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.MyHeader a div:hover {
  background-color: dodgerblue;
  color:#444;
}