html, body {
  margin: 0;
  padding: 0;
}

.App-Wrapper {
  display: flex;
}

.App {
  display: inline-block;
  max-width: 1080px;
  text-align: center;
  background-color: lightblue;
  margin: 0 auto;
}